body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

fieldset {
    width: 350px;
    margin: auto;
    padding: 20px;
    background-color: white;
}

input[type="submit"] {
    display: block;
    margin: auto;
    padding: 5px 15px;
}
